.body {
  font-size: 14px;
  font-family: 'Karla', sans-serif; 
 background-color: hsl(204, 43%, 93%)
}

.first {
  font-family: 'Karla', sans-serif;
  display: inline-block;
  height: 400px;
  width: 400px;
  background-color: rgb(255, 254, 254);
  font-size:12px ;
  padding: 20px;
  position: relative;
  left: 400px;
  top: 100px;
  box-shadow: 3px 3px 5px 3px #888888;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}
h1 {
  color: rgb(60, 184, 201);
}
#first1 {
  color: rgb(197, 197, 8);
}

.first.p { display: inline-block;
  font-family: 'Karla', sans-serif;
  text-decoration: gray;
}

.second {
  font-family: 'Karla', sans-serif;
  height: 220px;
  width: 260px;
  background-color: #2BB3B1;
  font-size:13px ;
  color: #8ee1e7;
  display:inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  bottom: 0;
  padding: 1%;
  border: gray ;
  box-shadow: 3px 3px 5px 3px #888888;
  border-bottom-left-radius:5% ;
  margin: 0;
}

.h2 { font-family: 'Karla', sans-serif;
  color:white;
  font-size:13px ;
}

.second.p {
  font-size: 11px;
  color: #8ee1e7;
}


.second-span {
  font-size: 35px;
  color: #ddfcff;
}


.third {
  font-family: 'Karla', sans-serif;
  height: 220px;
  width: 160px;
  background-color: #4ABEBD;
  color: #A6F9F9;
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1%;
  border: gray ;
  font-size: 11px;
  margin: 0;
  box-shadow: 3px 3px 5px 3px #888888;
  border-bottom-right-radius: 5%;
}

.third.p { display: inline-block;
  font-family: 'Karla', sans-serif;
  
  
}

.attribution { font-size: 18px; text-align: center; display: inline-block;  position: absolute;
top: 93%; font-family: 'Karla', sans-serif; }
    .attribution a { color: hsl(228, 45%, 44%); }

.button{
  font-family: 'Karla', sans-serif;
color: rgb(242, 242, 242);
font-size: 20px;
padding: 8px 20px;
text-decoration-line: none;
text-shadow: 0px 53px 0px rgba(30, 30, 30, 0);
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: rgb(176, 204, 53);
background: -moz-linear-gradient(90deg, rgb(176, 204, 53) 30%, rgb(176, 204, 53) 70%);
background: -webkit-linear-gradient(90deg, rgb(176, 204, 53) 30%, rgb(176, 204, 53) 70%);
background: -o-linear-gradient(90deg, rgb(176, 204, 53) 30%, rgb(176, 204, 53) 70%);
background: -ms-linear-gradient(90deg, rgb(176, 204, 53) 30%, rgb(176, 204, 53) 70%);
background: linear-gradient(0deg, rgb(176, 204, 53) 30%, rgb(176, 204, 53) 70%);
-webkit-box-shadow: 0px 2px 18px rgba(50, 50, 50, 0.64);
-moz-box-shadow:    0px 2px 18px rgba(50, 50, 50, 0.64);
box-shadow:         0px 2px 18px rgba(50, 50, 50, 0.64);
}